.about {
  margin-top: 8rem;

  @media only screen and (min-width: $bp-largest) {
    margin-top: 13rem;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 4rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 0;
  }

  &__background {
    background-color: $color-primary-light;
    padding: 10rem 0;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 85%);

    @media only screen and (max-width: $bp-larger) {
      clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 84%);
    }

    @media only screen and (max-width: $bp-medium) {
      clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 92%);
    }

    @media only screen and (max-width: $bp-small) {
      clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 93%);
    }

    @media only screen and (max-width: $bp-smallest) {
      clip-path: polygon(0 9.5%, 100% 5%, 100% 99%, 0 93%);
    }
  }

  &__small {
    position: relative;
    text-align: center;
    padding-top: 4rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;

    animation: moveInLeft 1.5s 0.75s;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
    }
  }

  &__image {
    height: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: auto;
    transition: all .5s;

    animation: moveInLeft 1.5s 0.75s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__large {
    padding-right: 2rem;

    @media only screen and (max-width: $bp-medium) {
      padding-right: 0;
    }
  }

  &__list {
    font-size: 1.5rem;
    padding-left: 2rem;
    list-style-image: url(../img/bullet-tick.gif);

    @media only screen and (max-width: $bp-smallest) {
      padding-left: 12rem;
    }
  }

  &__list-item {
    width: 49%;
    float: left;

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      float: none;
    }
  }
}
