.cases {
  margin-top: 5rem;

  @media only screen and (max-width: $bp-smallest) {
    margin: 0;
  }

  &__background {
    width: 100%;
    padding: 1rem 5rem;
    background: linear-gradient($color-primary-light, $color-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem 2rem;
    }
  }

  &__category {
    height: 34rem;
    background-color: $color-primary-dark;
    border-radius: 2rem;
    box-shadow: 3px 4px 1px rgba(0,0,0,.3);
    padding: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    overflow: scroll;

    @media only screen and (min-width: $bp-largest) {
      height: 37rem;
    }

    @media only screen and (max-width: $bp-large) {
      width: 100%;
    }

    @media only screen and (max-width: $bp-smaller) {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1.5rem 2rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &--fraud {
      width: 100%;

      order: 1;
      display: flex;
      flex-wrap: wrap;
    }

    &--money-laundering {
      width: 49%;
      margin-top: 8rem;

      order: -1;

      @media only screen and (max-width: $bp-large) {
        width: 100%;
      }

      @media only screen and (max-width: $bp-small) {
        margin-top: 10rem;
      }

      &--new {
        margin-top: 2rem;
      }
    }

    &--rcf {
      width: 49%;
      margin-top: 8rem;

      order: 0;

      @media only screen and (max-width: $bp-large) {
        width: 100%;
        margin-top: 0;
      }

      &--new {
        margin-top: 2rem;
      }
    }

    &--inquiries {
      width: 100%;
      height: auto;
      order: 2;
    }
  }

  &__list {
    list-style: none;

    display: flex;
    flex-direction: column;

    &:hover > .cases__list-item:not(:hover) {
        opacity: 0.7;
    }

    &--rcf {
      height: 24rem;
      justify-content: space-around;

      @media only screen and (max-width: $bp-smaller) {
        height: auto;
      }
    }
  }

  &__list-item {
    font-size: 1.5rem;
    color: $color-grey-light;
    padding: 1rem;
    opacity: 1.0;
    transition: opacity .4s ease-in-out;

    display: flex;

    @media only screen and (max-width: $bp-medium) {
      text-align: justify;
    }

    @media only screen and (max-width: $bp-smallest) {
      background-color: $color-primary-2;
      color: $color-grey-light;
      border-radius: .5rem;
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: $color-primary-2;
      color: $color-grey-light;
      border-radius: 1.3rem;
      box-shadow: 2px 3px 1px rgba(0,0,0,.3);
      opacity: 1.0;
    }

    &:nth-of-type(2n) {
      @media only screen and (max-width: $bp-smallest) {
        background-color: $color-grey;
        color: $color-primary;
        border-radius: .5rem;
      }
    }
  }

  &__list-item:before {
    content: "";
    display: inline-block;
    height: 2rem;
    width: 2rem;
    padding-right: 2rem;
    margin-top: .5rem;
    margin-right: 2rem;

    // Older browsers
    background-image: url(../img/SVG/quill.svg);
    background-size: cover;

    // Newer browsers - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: $color-grey-dark;
      -webkit-mask-image: url(../img/SVG/quill.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/SVG/quill.svg);
      mask-size: cover;
      background-image: none;
    }

    @media only screen and (max-width: $bp-smallest) {
      display: none;
    }
  }
}
