.contact {
  margin-top: 8rem;

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 0;
  }

  &__background {
    padding: 10rem 5rem 5rem 5rem;
    background: linear-gradient($color-primary-light, $color-primary);

    @media only screen and (max-width: $bp-medium) {
      padding: 0 0 3rem 0;
    }
  }

  &__content {
    text-align: center;
    position: relative;
    padding-left: 0;

    @media only screen and (max-width: $bp-large) {
      padding-left: 0;
    }

    @media only screen and (max-width: $bp-medium) {
      text-align: left;
    }
  }

  &__options {
    background-color: $color-primary-dark;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 3px 4px 1px rgba(0,0,0,.3);
    transition: all .3s ease-in-out;

    @media only screen and (max-width: $bp-medium) {
      max-width: 50rem;
      padding-left: 3rem;
      margin: auto;

      display: flex;
      align-items: center;
    }

    @media only screen and (max-width: $bp-smaller) {
      flex-direction: column;
      align-items: center;
      padding-left: 1rem;

      &:hover {
        background-color: $color-primary-light;
      }
    }

    @media only screen and (max-width: $bp-smallest) {
      max-width: 85%;
    }

    &:hover {
      color: $color-grey-light;
      background-color: $color-primary-2;
      transform: translate(3px, -2px);
    }

    &--left {
      margin-top: 3.6rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
      }
    }

    &--middle {
      margin-top: 0;
    }

    &--right {
      margin-top: -7rem;

      @media only screen and (min-width: $bp-largest) {
        margin-top: -3.5rem;
      }

      @media only screen and (max-width: $bp-larger) {
        margin-top: -6.5rem;
      }

      @media only screen and (max-width: $bp-medium) {
        margin-top: 0;
      }
    }
  }

  &__image {
    width: 6rem;
    height: auto;
    padding: 1rem;
    background-color: $color-grey;
    border-radius: 25%;

    @media only screen and (max-width: $bp-smaller) {
      margin-bottom: 2rem;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;
    color: $color-grey;

    @media only screen and (max-width: $bp-larger) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }

    &--desktop {
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media only screen and (max-width: $bp-medium) {
        display: block;
        margin-left: 6rem;
      }

      @media only screen and (max-width: $bp-smaller) {
        margin-left: 0;
      }

      &-phone {
        @media only screen and (max-width: $bp-medium) {
          font-size: 3rem;
          font-weight: bold;
          color: $color-grey !important;
        }
      }

      &-email {
        @media only screen and (max-width: $bp-smaller) {
          text-align: center;
        }

        @media only screen and (max-width: $bp-smallest) {
          font-size: 1.8rem;
        }
      }

      &-address {
        display: none;

        @media only screen and (max-width: $bp-medium) {
          display: block;
          margin-left: 6rem;
        }

        @media only screen and (max-width: $bp-smaller) {
          margin-left: 0;
        }
      }
    }
  }

  &__links,
  &__links:link,
  &__links:visited {
    text-decoration: none;
    color: $color-grey;

    &:hover {
      color: $color-grey-light;
    }
  }

  @media only screen and (max-width: $bp-smaller) {
    font-size: 1.5rem;
  }
}
