.expertise {
  position: relative;
  display: inline-block;
  margin-top: 8rem;

  &__background {
    background-color: $color-primary;
    padding: 8rem 0 7rem 0;
    clip-path: polygon(0 0%, 100% 11%, 100% 100%, 0 89%);
  }

  &__left {
    padding-left: 7rem;
  }

  & ul {
    font-size: 2rem;
    padding-left: 2rem;
    list-style-image: url(../img/bullet-tick.gif);
  }

  & li {
    padding-bottom: 1rem;
  }

  &__right {
    text-align: center;
    clip-path: polygon(0 0%, 100% 6%, 100% 100%, 0 94%);
  }

  & img {
    width: 60%;
    height: auto;
    text-align: center;
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
    transform: scale(1) translateY(0);
    transition: 0.5s ease-in;

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      filter: blur(3px) brightness(80%);
      transition: 1.5s all;
    }
  }


}
