.header {
  height: 85vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: -35rem;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    height: 85vh;
  }

  @media only screen and (max-width: $bp-larger) {
    background-position-y: -24rem;
  }

  @media only screen and (max-width: $bp-large) {
    height: 80vh;
    background-position-y: -16rem;
  }

  @media only screen and (max-width: $bp-medium) {
    background-position-y: -8rem;
  }
}
