body {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-primary-text;
}

.heading-primary {
  font-size: 2rem;
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-secondary {
  color: $color-primary-text;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 5px;
  //text-shadow: 2px 2px 5px $color-black;
  //color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

  @media only screen and (max-width: $bp-medium) {
    display: block;
  }
}

.heading-tertiary {
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;

  &--cases {
    margin-left: 4rem;

    @media only screen and (max-width: $bp-large) {
      letter-spacing: 10px;
      text-align: center;
      margin-left: 0;
      width: 100%;
    }
  }

  @media only screen and (max-width: $bp-smaller) {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.paragraph {
  font-size: $default-font-size;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
