.additional-info {
  margin-top: 8rem;

  &__background {
    height: auto;
    background-color: $color-primary-light;
    padding: 10rem 0;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 85%);

    @media only screen and (max-width: $bp-larger) {
      -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 84%);
      clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 84%);
    }

    @media only screen and (max-width: $bp-medium) {
      -webkit-clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 92%);
      clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 92%);
    }

    @media only screen and (max-width: $bp-small) {
      -webkit-clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 93%);
      clip-path: polygon(0 11%, 100% 5%, 100% 100%, 0 93%);
    }

    @media only screen and (max-width: $bp-smallest) {
      -webkit-clip-path: polygon(0 9.5%, 100% 5%, 100% 99%, 0 93%);
      clip-path: polygon(0 9.5%, 100% 5%, 100% 99%, 0 93%);
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  &__list {
    width: 100%;
    padding: 1rem 5rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    background-color: $color-primary-dark;
    padding: 4rem 2rem;
    margin-bottom: 5rem;

    &:first-child {
      margin-top: 4rem;
    }
  }

  &__item-heading {
    font-size: 3rem;
    background-color: $color-grey-light;
    color: $color-primary;

  }

}
